<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Search Activity
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card">
	<ion-card-header >
		<img src="/assets/logokuis.png" alt="" />
        <ion-card-subtitle>SmartMasjid</ion-card-subtitle>
        <ion-card-title>Search Activity</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      	<ion-searchbar animated [(ngModel)]="searchterm"
      	(change)="filterList(searchterm)"></ion-searchbar>
        <p>You may want to swipe-left to view full record</p>

		<ion-list>
	    <ion-item-sliding *ngFor="let data of activities">
	      <ion-item detail lines="full">
	        <ion-icon name="calendar" slot="start"></ion-icon>
	        {{data.acname}}
	      </ion-item>
	      <ion-item-options side="end">
	      	<ion-item-option color="primary">
	        	<ion-icon name="share"></ion-icon>
	        	</ion-item-option>
	        <ion-item-option color="success">
	        	<ion-icon name="create"></ion-icon>
	        </ion-item-option>
	        <ion-item-option color="danger">
	        	<ion-icon name="trash"></ion-icon>
	        </ion-item-option>
	      </ion-item-options>

	    </ion-item-sliding>
	  </ion-list>

	</ion-card-content>
</ion-card>

</ion-content>
