<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Add Activity 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card class="welcome-card">
      <img src="/assets/logokuis.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>SmartMasjid</ion-card-subtitle>
        <ion-card-title>Insert Activity</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <p>You may want to create a meaningful activity in this list</p>
        <!-- Input with placeholder -->

        
        <ion-item>
          <ion-input name="acname" type="text"
          [(ngModel)]="data.acname"
          placeholder="Activity name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input  type="text"
          [(ngModel)]="data.acpic"
          placeholder="Person incharge"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="date"
          [(ngModel)]="data.acdate"
          placeholder="Date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text"
          [(ngModel)]="data.acvenue"
          placeholder="Venue"></ion-input>
        </ion-item>
        <!-- Textarea in an item with a placeholder -->
        <ion-item>
          <ion-textarea 
          [(ngModel)]="data.acdesc"
          placeholder="Enter more activity information here..."></ion-textarea>
        </ion-item>

        <!-- Round button -->
        <ion-button color="success"
        (click)="createActivity()">Save new Activity</ion-button>
        <ion-button color="dark"
        type="reset" fill="outline">Reset</ion-button>

      </ion-card-content>
    </ion-card>
    
</ion-content>
